#
# Example OpenOCD user configuration for the Ampere Altra ("Quicksilver")
# Development Platform
#
# Copyright (c) 2019-2021, Ampere Computing LLC
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of
# the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program;
#
#

# Command Line Argument Description
#
# JTAGFREQ
# Override the default JTAG clock frequency
# If not specified, defaults to "5000" kHz
# Syntax: -c "set JTAGFREQ {5000}"
#
# SYSNAME
# Override the default system name
# If not specified, defaults to "qs"
# Syntax: -c "set SYSNAME {qs}"

bindto 0.0.0.0
#debug_level 3

#gdb_port 3333
#telnet_port 4444
#tcl_port 6666

#
# Interface Configuration
#

source [find interface/ftdi/olimex-arm-usb-ocd-h.cfg]

#
# Board (Platform) Configuration
#

if { ![info exists JTAGFREQ] } {
	set JTAGFREQ 5000
}

if { ![info exists SYSNAME] } {
	set SYSNAME qs
}

source [find board/ampere_qs_mq_2s_bs.cfg]
