# SPDX-License-Identifier: GPL-2.0-or-later
#
# Example OpenOCD user configuration for the Ampere Altra
# Development Platform
#
# Copyright (c) 2019-2023, Ampere Computing LLC
#

# Command Line Argument Description
#
# JTAGFREQ
# Override the default JTAG clock frequency
# If not specified, defaults to "5000" kHz
# Syntax: -c "set JTAGFREQ {5000}"
#
# SYSNAME
# Override the default system name
# If not specified, defaults to "qs"
# Syntax: -c "set SYSNAME {qs}"

bindto 0.0.0.0
#debug_level 3

#gdb_port 3333
#telnet_port 4444
#tcl_port 6666

#
# Interface Configuration
#

source [find interface/ftdi/olimex-arm-usb-ocd-h.cfg]

#
# Board (Platform) Configuration
#

if { ![info exists JTAGFREQ] } {
	set JTAGFREQ 5000
}

if { ![info exists SYSNAME] } {
	set SYSNAME qs
}

source [find board/ampere_qs_mq_1s_bs.cfg]
