# SPDX-License-Identifier: GPL-2.0-or-later
# Cadence virtual debug interface
# RISCV Ibex core with Pulpissimo

set _CHIPNAME riscv
set _CPUTAPID 0x249511c3
set _TARGETNAME $_CHIPNAME.cpu

# BFM hierarchical path and input clk period
vdebug bfm_path tbench.u_vd_jtag_bfm 40ns
# DMA Memories to access backdoor (up to 4)
vdebug mem_path tbench.soc_domain_i.pulp_soc_i.gen_mem_l2_pri\[0\].sram_i.mem_array 0x1c000000 0x8000
vdebug mem_path tbench.soc_domain_i.pulp_soc_i.gen_mem_l2_pri\[1\].sram_i.mem_array 0x1c008000 0x8000
vdebug mem_path tbench.soc_domain_i.pulp_soc_i.gen_mem_l2\[0\].sram_i.mem_array 0x1c010000 0x80000

# need to explicitly define riscv tap, autoprobing does not work for icapture != 0x01
jtag newtap $_CHIPNAME cpu -irlen 5 -ircapture 0x05 -irmask 0x1f -expected-id $_CPUTAPID

jtag arp_init-reset

target create $_TARGETNAME riscv -chain-position $_TARGETNAME -coreid 0x20

riscv set_reset_timeout_sec 120
riscv set_command_timeout_sec 120
# prefer to use sba for system bus access
riscv set_prefer_sba on
