#
# OpenOCD Board Configuration for Arm Neoverse N1 SDP
#
# Copyright (c) 2019-2020, Ampere Computing LLC
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2 of
# the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program;
#
#

#
# Configure JTAG speed
#

adapter speed 1000

#
# Configure Resets
#

adapter srst delay 200
jtag_ntrst_delay 100
reset_config trst_and_srst separate srst_open_drain

#
# Configure Targets
#

source [find target/arm_n1.cfg]
